@tailwind base;
@tailwind components;
@tailwind utilities;

em-emoji img {
	top: -0.1em !important;
}
button em-emoji img {
	top: 0 !important;
	position: static !important;
	padding: 4px 0;
	height: 100% !important;
}

em-emoji-picker {
	--background-rgb: 255, 255, 255;
	--border-radius: 8px;
	--color-border: rgba(229, 231, 235);
	--rgb-accent: 56, 189, 248;
	--rgb-color: 30, 41, 59;
	--rgb-input: 241, 245, 249;
	--font-family: monospace;
	--font-size: 14px;
	border: 1px solid rgb(226, 232, 240);
	border-radius: 8px;
	position: relative;
	z-index: 10 !important;
}

em-emoji-picker #preview {
}
